nuxeo-jcr-sync-core/src/main/resources/schema/jcrsync.xsd

<?xml version="1.0"?>
<xs:schema targetNamespace="http://www.nuxeo.org/ecm/schemas/jcrsync/"
  xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:nxs="http://www.nuxeo.org/ecm/schemas/jcrsync/">

  <xs:element name="uid" type="xs:string" />
  <xs:element name="modified" type="xs:dateTime" />
  <xs:element name="synchronized" type="xs:dateTime" />
  <xs:element name="state" type="xs:string" />
  <xs:element name="type" type="xs:string" />
  <xs:element name="repository" type="xs:string" />
  <xs:element name="connection" type="xs:string" />
  <xs:element name="uri" type="xs:string" />

</xs:schema>
